{% extends 'base.html' %}

{%block conteudo%}
    <div class="card">
      <div class="card-header">
        Minha agenda
      </div>
      <div class="card-body">
        <table class="table table-bordered border-primary table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Telefone</th>
              <th>Categoria</th>
            </tr>
          </thead>
          <tbody>
    
    
            {% for contatos in contato %}
              <tr>
                <td>{{ contatos.id }}</td>
                <td>
                  <a href="{% url 'ver_contato' contatos.id %}">{{ contatos.nome }}</a>
                </td>
                <td>{{ contatos.sobrenome }}</td>
                <td>{{ contatos.telefone }}</td>
                <td>{{ contatos.categoria }}</td>
              </tr>
            {% endfor %}
    
    
    
          </tbody>
        </table>
      </div>
      
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% for pagina in contato.paginator.page_range %}
            {% if contato.number == pagina %}
              <li class="page-item active">
                <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  



{%endblock%}